{% extends 'base.html' %} {% block title %}{% endblock title %} {% block content
%}

<!-- Image Banner -->

<div class="container-fluid">
  <h1> Jovian Careers</h1>
  <img src="{{ url_for('static', filename='images/clark-tibbs-oqStl2L5oxI-unsplash.jpg') }}" alt="Jovian Careers Banner">
</div>

</div>

<!-- About Section -->
<div class="container my-5">
  <h2 class="text-center">About Jovian Careers</h2>
  <p>
    Jovian Careers is a leading company in the field of technology recruitment.
    We specialize in connecting talented professionals with top companies in the
    industry.
  </p>
  <p>Check out our latest job openings below and apply today!</p>

<h1>Job Openings List</h1>
{% if jobs %}
<div class="list-group">
  {% for job in jobs %}
  {% include 'job-item.html' %}
  {% endfor %}
</div>
{% else %}
<p>No jobs found.</p>
{% endif %}


<div class=" col-6 mx-auto mt-4 text-center">
  <a href="#" class="btn btn-primary btn-sm"><span>Contact Us</span></a>
  <div class="text-center mt-4">
    <p>copyright 2023, Jovian</p>
  </div>
</div>




</div>

{% endblock content %}
