<div class="border-bottom d-flex justify-content-between align-items-start p-4">
    <div>
      <h5 class="mb-1">{{ job.title }}</h5>
      <div><strong>Location:</strong> {{ job.location }}</div>
      {% if 'salary' in job %}
      <div><strong>Salary:</strong> <span class="badge bg-secondary">{{ job.salary }}</span>
       </div>
       {% endif %}
    </div>
    <a href="mailto:obiifeka5@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%20%3CYour%20name%20here%3E%0D%0AMy%20Resume%20Link%3A%20%3Cresume%20link%3E%0D%0AMy%20Linkedin%3A%20%3Clinkedin%20link%3E%0D%0A" class="btn btn-light btn-md mt-2">Apply</a>
</div>
